<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'review_app/css/styles.css' %}">
    <title>Belt Exam</title>
</head>
<body>
    <a href="/main">Home</a>
    <a href="/logout">Logout</a>
    <h1>{{ name }}'s Profile</h1>
    <h3>Alias: {{ alias }}</h3>
    <h3>email: {{ email }}</h3>
    <h3>Birthday: {{ bday }}</h3>
</body>
</html>

